/* Custom event colours */
/* https://www.google.com/design/spec/style/color.html */

.lec {
  background-color: #FFEE58; /* Yellow 400 */
}

.tut {
  background-color: #42A5F5; /* Blue 400 */
}

.prc {
  background-color: #66BB6A; /* Green 400 */
}

.wor {
  background-color: #EC407A; /* Pink 400 */
}

.clb {
  background-color: #BA68C8; /* Purple 300 */
}

.preview {
  opacity: .4;
}
