.btn-timetable {
  /* Custom CSS */
  color: #fff;
  margin-bottom: 10px;
  /* Bootstrap CSS */
  display: inline-block;
  font-weight: 400;
  line-height: 1.25;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  padding: .5rem 1rem;
  font-size: 14px; /* 1rem; */
  border-radius: .25rem;
  -webkit-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

.importUnitButton {
  background-color: #f0ad4e;
}

.importUnitButton:hover {
  background-color: #ec971f;
}

.importSemesterButton {
  background-color: #0275d8;
}

.importSemesterButton:hover {
  background-color: #025aa5;
}

.importAllButton {
  background-color: #d9534f;
}

.importAllButton:hover {
  background-color: #c9302c;
}
