/* Page Defaults */

html {
  font-size: 14px;
}

body {
  background: #f2f2f2;
  font-family: "Roboto", sans-serif;
}

.calendar {
  background: #fff;
  margin-bottom: 20px;
}

.hints {
  margin-top: 20px;
}

/* Class Output Footer */

.unitOverview {
  margin-top: 20px;
  -moz-columns: 4;
  -webkit-columns: 4;
  columns: 4;
}

.unitOverview > div {
  padding-bottom: 20px;
  -moz-column-break-inside: avoid;
  -webkit-column-break-inside: avoid;
}

/*@media screen and (max-width: 1420px) {
  .unitOverview {
    -moz-columns: 3;
    -webkit-columns: 3;
    columns: 3;
  }
}*/

/*@media screen and (max-width: 1150px) {
  .unitOverview {
    -moz-columns: 2;
    -webkit-columns: 2;
    columns: 2;
  }
}*/

/*@media screen and (max-width: 880px) {
  .unitOverview {
    -moz-columns: 1;
    -webkit-columns: 1;
    columns: 1;
  }
}*/

.h1, .h2, .h3, h1, h2, h3 {
  margin-top: 0;
}

/* Alert Dropdown */

.timePeriod {
  width: 100%;
}
