.btn {
  color: #fff;
  /* Bootstrap CSS */
  display: inline-block;
  padding: 6px 12px;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  /*-ms-touch-action: manipulation;
  touch-action: manipulation;*/
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
  margin-bottom: 10px;
}

.importButton {
  background-color: #1E88E5; /* Blue */
}

.importAllButton {
  background-color: #F44336; /* Red */
}
