/* Page Defaults */

body {
  background: #f2f2f2;
  font-family: "Roboto", sans-serif;
}

.calendar {
  background: #fff;
  margin-bottom: 20px;
}

.hints {
  margin-top: 20px;
}

/* FullCalendar Customisation */

.fc-unthemed .fc-today {
    background: #fff;
}

.fc-event {
  background-color: #ccc; /* default: #3a87ad */
  border-radius: 0; /* default: 3px */
  border-color: #ddd; /* default: #3a87ad */
  margin: 0 -1px -1px -1px;
  padding: 5px;
}

.fc-event,
.fc-event:hover,
.ui-widget .fc-event {
  color: #000; /* default TEXT color */
}

.fc-ltr .fc-time-grid .fc-event-container, /* space on the sides of events for LTR (default) */
.fc-rtl .fc-time-grid .fc-event-container { /* space on the sides of events for RTL */
  /* defaultLTR: 0 2.5% 0 2px; */
  /* defaultRTL: 0 2px 0 2.5%; */
  margin: 0;
}

/* Custom event colours */

.lec { background-color: #FFEE58; } /* Yellow 400 */
.tut { background-color: #42A5F5; } /* Blue 400 */
.prc { background-color: #66BB6A;} /* Green 400 */
.wor { background-color: #EC407A; } /* Pink 400 */
.clb { background-color: #BA68C8; } /* Purple 300 */
.preview { opacity: .4; }

/* Class Output Footer */

.unitOverview {
  margin-top: 20px;
  -moz-columns: 4;
  -webkit-columns: 4;
  columns: 4;
}

/*@media screen and (max-width: 1420px) {
  .unitOverview {
    -moz-columns: 3;
    -webkit-columns: 3;
    columns: 3;
  }
}

@media screen and (max-width: 1150px) {
  .unitOverview {
    -moz-columns: 2;
    -webkit-columns: 2;
    columns: 2;
  }
}

@media screen and (max-width: 880px) {
  .unitOverview {
    -moz-columns: 1;
    -webkit-columns: 1;
    columns: 1;
  }
}*/

.unitOverview > div {
  padding-bottom: 20px;
  -moz-column-break-inside: avoid;
  -webkit-column-break-inside: avoid;
}

.h1, .h2, .h3, h1, h2, h3 {
  margin-top: 0;
}

/**
 * Custom scroll bar
 */
.classes::-webkit-scrollbar {
  width: 0.6em;
  height: 0.6em
}
.classes::-webkit-scrollbar-track-piece {
  background: #fff;
  -moz-box-shadow: inset 0 8px 4px -4px rgba(0,0,0,.28);
  -webkit-box-shadow: inset 0 8px 4px -4px rgba(0,0,0,.28);
  box-shadow: inset 0 8px 4px -4px rgba(0,0,0,.28);
}
.classes::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 10px;
  opacity: 0.4;
  -moz-box-shadow: inset 0 0 6px rgba(0,0,0,0.1);
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.1);
  box-shadow: inset 0 0 6px rgba(0,0,0,0.1);
}

/* Alert Dropdown */
.timePeriod{
  width: 100%;
}
